/* reset all elements' margins, paddings, and box-sizing to ensure consistent styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%; /* ensures the HTML element takes full height */
}

body {
  min-height: 100%; /* body takes up at least the full height of the viewport */
  line-height: 1; /* sets a uniform line height across browsers */
  font-family: sans-serif; /* default font for the document */
}

/* sets uniform font sizes for all heading elements */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* ensures form elements and code blocks use the inherited font size and family */
input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

/* removes default list styles for ordered and unordered lists */
ol, ul {
  list-style: none;
}