section {
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid black;
  }
  
  img {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    /* Adds space outside the border, separating the images from each other and other elements */
    margin: 10px;
  
    /* Adds space inside the border, pushing the content (image) away from the border */
    padding: 5px;
  
    /* Adds a solid dark blue border around each image */
    border: 2px solid #000;
  }
  