.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
  color: #ff5e00;
  background-color: #0400f3;
}
  
.container {
  color: #ffffff;
  background-color: #000000;
}

#section-1 {
background-color: #ff00cc;
color: #f7e200;
}

#section-6 {
  color: #f7e200;
  background-color: #000000;
}
